html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

#root {
  height: 100%;
  width: 100%;
}

.button {
  background-color: rgb(255, 255, 255);
  color: black;
  border: 1px solid rgb(235, 235, 235);
  padding: 4px 6px;
  border-radius: 6px;
  width: 50px;
  text-align: center;
  margin: 5px;
}

.wide {
  width: 110px;
}

.button:hover {
  background-color: rgb(235, 235, 235);
}
