:root {
  --background-color: rgb(255, 255, 255);
  --hover-color: rgb(225, 225, 225);
  --border-color: rgb(225, 225, 225);
  --text-color: black;
  --font-size: 14px;
  --tile-width: 50px;
  --padding: 4px 6px;
  --border: 1px;
  --border-radius: 6px;
  --margin: 5px;
  --gap: 20px;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

#root {
  height: 100%;
  width: 100%;
}

.scene {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.menu {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: var(--border-radius);
  z-index: 1000; /* Overlay */
}

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.button {
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
  font-size: var(--font-size);
  padding: var(--padding);
  border: var(--border) solid var(--border-color);
  border-radius: var(--border-radius);
  margin: var(--margin);
}

.button:hover {
  background-color: var(--hover-color);
}

.button-wide {
  grid-column: span 2;
}

.int-input {
  text-align: center;
  font-size: var(--font-size);
  width: var(--tile-width);
  padding: var(--padding);
  border: var(--border) solid var(--border-color);
  border-radius: var(--border-radius);
  margin: var(--margin);
}

.int-input-button {
  grid-column: span 2;
  display: flex;
}

.text {
  text-align: center;
  font-size: var(--font-size);
  margin: var(--margin);
}

.text-wide {
  grid-column: span 2;
}

.blank {
  height: var(--gap);
}